# ignore all .exe files, which are the compiled c++ executables,
# *.exe this doesnt work in linux so we should ignore all other files other than cpp, java py and others which maybe useful.
# (in ubuntu cpp output files do not have any extension):
*
!**/*.cpp 
!**/*.java
!**/*.py
!**/*.jpeg
!**/*.jpg
!**/*.png
!**/*.md
