# ignore all .exe files, which are the compiled c++ executables,
# *.exe this doesnt work in linux so we should ignore all other files other than cpp, java and py.
# (in ubuntu cpp output files do not have any extension):
*
!/Array Problems
!/Matrix Problems
!/String Problems
!*.cpp 
!*.java
!*.py
!/resources
!*.xlsx
!*.jpeg
!*.jpg
!*.png
